doctype
html
  head
    include ./_partials/meta.html
    include ./_partials/nav.html
  body
    != yield


doctype
  html
    head
      include _partials/head/meta.partial.html
      include _partials/head/css.partial.html
      include _partials/head/ie9scripts.parital.html
      include _partials/head/icons.partial.html
      //link(rel="stylesheet" href="/main.css")
    body
      include _partials/body/header.partial.html
      include _partials/body/blog.partial.jade
      //!= yield
      include _partials/body/bottom.partial.html
      include _partials/body/footer.partial.html
        include _partials/end/scripts.partial.html


          //<section id="blog" class="container">
          section(id="blog", class="container")
            include ./blog-whole-title.html
            //<div class="blog">
            div(class="blog")
              //<div class="row">
              div(class="row")
                include ./blog-main.partial.html
                include ./aside.partial.html