doctype
html
  head
    include includes/head/meta.partial.html
    include includes/head/css.partial.html
    include includes/head/ie9scripts.parital.html
    include includes/head/icons.partial.html
    //link(rel="stylesheet" href="/main.css")
  body
    include includes/body/header.partial.html
    include includes/body/blog.partial.jade
    //!= yield
    include includes/body/bottom.partial.html
    include includes/body/footer.partial.html

  include includes/end/scripts.partial.html