//<section id="blog" class="container">
section(id="blog", class="container")
  include ./blog-whole-title.html
  //<div class="blog">
  div(class="blog")
    //<div class="row">
    div(class="row")
      include ./blog-main.partial.html
      include ./aside.partial.html